body {
    background-color: #2B2928;
    color: white;
}

.navbar-inverse {
    margin: 0px;
    border-radius: 0px;
}

.col-sm-10 {
    padding: 20px;
}

.col-sm-10 img {
    float: left;
    margin: 20px;
}

.headers {
    margin: 20px 0px 5px;
}
